{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>價格查詢</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
</head>
<body>
    {% comment %}
    {% endcomment %}
<div class="inner">
    <header class="special">
{#    {% if not user.is_authenticated %}#}
{#        <a href='/admin/login/?next=/' style="color:#cc3b35; font-size: 30px;" target="_self">請先登入</a>#}
{#    {% endif %}#}
    </header>
</div>

{% if err_msg %}
<div class="inner">
    <header class="special">
        <div>
            <p>
                {{ err_msg }}
            </p>
        </div>
        <div><span style="background-color:#ffffff"><span style="color:#000000; font-size: 20px;">
            <a href= '/'  style="color:#1155cc" target="_self">回首頁</a></span></span>
        </div>
    </header>
</div>
{% else %}
{#    {% if user.is_authenticated %}#}
    <section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>價格查詢</h2>
{#                        <a href='https://docs.google.com/document/d/e/2PACX-1vR_zFxJ2Y8htLLENScVxkHtZXh9oE6RoEu_YQFpakCrL4EUwGdT9RBIhUi1Bg0vIROOoVgWwP4g91je/pub' style="color:#cc3b35; font-size: 30px;" target="_self">點選觀看說明文件</a></span></span>#}
						<p>歡迎進入， 請選擇要執行的項目</p>
					</header>
					<div class="highlights">
						<section>
							<div class="content" style="padding: 10px">
								<header>
									<a href="ximport" class="icon fa-vcard-o"><span class="label">匯入資料</span></a>
									<h3>匯入資料</h3>
								</header>
							</div>
						</section>
						<section>
							<div class="content" style="padding: 10px">
								<header>
								    <h3>查詢資料</h3>
									<a href="search" class="icon fa-files-o"><span class="label">查詢資料</span></a>
								</header>
							</div>
						</section>
                        <section>
							<div class="content" style="padding: 10px">
								<header>
								    <h3>管理者介面</h3>
									<a href="/admin/" class="icon fa-qrcode"><span class="label">管理者介面</span></a>
								</header>
							</div>
						</section>
{#						<section>#}
{#							<div class="content" style="padding: 10px">#}
{#								<header>#}
{#									<a href="/logout/" class="icon fa-line-chart"><span class="label">Icon</span></a>#}
{#									<h3>登出</h3>#}
{#								</header>#}
{#							</div>#}
{#						</section>#}
					</div>
				</div>
			</section>
{#    {% endif %}#}

{% endif %}

</body>
</html>
