<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自動發信機</title>
</head>
<body>
<div><span style="background-color:#ffffff">
    <span style="color:#000000">歡迎進入自動發信機，
    <br>請選擇要執行的項目：<br>
    </span>
</span></div>
<br>
<div>
    {% if not user.is_authenticated %}
        <a href='/admin/login/?next=/' style="color:#cc3b35; font-size: 30px;" target="_self">請先登入</a></span></span>
    {% endif %}
</div>
{% if err_msg %}
    <div>
        <p>
            {{ err_msg }}
        </p>
    </div>
    <div><span style="background-color:#ffffff"><span style="color:#000000; font-size: 20px;">
            <a href= '/'  style="color:#1155cc" target="_self">回首頁</a></span></span>
    </div>
{% else %}
    {% if user.is_authenticated %}
    <div>
        <div><span style="background-color:#ffffff"><span style="color:#000000;font-size: 20px;">
            <a href= ximport  style="color:#1155cc;  target="_self">匯入資料</a></span></span>
        </div>
        <div><span style="background-color:#ffffff"><span style="color:#000000; font-size: 20px;">
            <a href= send_mails  style="color:#1155cc" target="_self">固定樣板發信功能</a></span></span>
        </div>
        {% comment %}
        <div><span style="background-color:#ffffff"><span style="color:#000000; font-size: 20px;">
            <a href= send_mails_ii  style="color:#1155cc" target="_self">彈性發信功能</a></span></span>
        </div>
        {% endcomment %}
        <div><span style="background-color:#ffffff"><span style="color:#000000; font-size: 20px;">
            <a href= '/admin/'  style="color:#1155cc" target="_self">管理者介面</a></span></span>
        </div>

    </div>

    <div><span style="background-color:#ffffff"><span style="color:#000000; font-size: 20px;">
            <a href= '/logout/'  style="color:#1155cc" target="_self">登出</a></span></span>
    </div>
    {% endif %}

{% endif %}

</body>
</html>