<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>您好，</p>

<p>您現正在 OpenEdu 上開課，為了讓您了解目前學生活動的狀況，提供此課程的學習分析系統的連接 (Insights)：</p>

<ul>
	<li>
	<p><a href="https://insights.openedu.tw/courses/{{ course_id }}">{{ course_name }}</a>&nbsp;</p>
	</li>
</ul>
<p>上週課程概況：</p>
<ul>
	<li>
	<p>上一週積極參與的學生: {{ course_partin }} </p>
	</li>
    <li>
	<p>上一週至少觀看一部影片學生: {{ course_watch_video }}</p>
	</li>
    <li>
	<p>上一週至少嘗試過一個問題學生: {{ course_try_problem }}</p>
	</li>
    <li>
	<p>上一週有參與討論學生: {{ course_try_discuss }}</p>
	</li>
</ul>
{% comment %}
<p>步驟如下：</p>

<ul>
	<li>
	<p>1. 點擊想觀看的課程分析</p>
	</li>
    <li>
	<p>2. 登入&nbsp;OpenEdu&nbsp;</p>
	</li>
    <li>
	<p>3. 選擇要使用的Insights 功能</p>
	</li>
</ul>
{% endcomment %}

<p> OpenEdu Insights 為視覺化學習資料分析系統，提供給開課教師(及工作人員)能夠使用，主要功能如下：</p>
    <ul>
        <li>
            <p><strong>註冊：</strong>提供課程註冊表現及學生的「整體性的」背景資料，包含學歷、年齡、地理位置等圖表。</p>
        </li>
        <li>
            <p><strong>參與：</strong>提供每週學生的表現狀況及每章節影片被觀看的狀況，例如多少比例的影片被觀看。</p>
        </li>
        <li>
            <p><strong>表現：</strong>每章節題目答對及答錯的次數與比例，老師可以因此知道學生的學習狀況。&nbsp;</p>
        </li>
    </ul>
{% comment %}
<p><a href="https://docs.google.com/document/d/1qlHKZHGG6EHlKbMxnwTC6fXzt7oQSbW058cgfjh57N0/edit#heading=h.c32rkrxa0dng"> 點選此處前往閱讀詳細說明文件 </a>&nbsp;</p>
<p><a href="mailto:tw.openedu@gmail.com" Title="取消訂閱 OpenEdu Insights "> 若您不願意收到此信件，請點此通知我們 </a>&nbsp;</p>
{% endcomment %}
<p>資料會每天更新，系統會在「開課期間」每週寄信通知，若您不想收到此信，請回信通知我們。&nbsp;</p>
<p>附件為詳細的 Insights 操作文件，供您參考。</p>
<br>
<div>
    {% autoescape off %}
        {{ announcement }}
    {% endautoescape %}
</div>
<p><a href="https://www.openedu.tw/" target="_blank"><img alt="https://www.openedu.tw/" src="https://autoemail.openedu.tw/static/images/logo_openedu.png" style="height:38px; width:150px" /></a>　　
    <a href="https://www.facebook.com/openedu.tw/" target="_blank"><img alt="image.png" src="https://autoemail.openedu.tw/static/images/logo_fb.png" style="height:40px; width:40px" /></a>
</p>

</body>
</html>