<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div><span style="background-color:#ffffff"><span style="color:#000000">您好，<br />
本週課程資料分析已經更新，歡迎至下列網址查看</span></span></div>

<div>
<div><span style="background-color:#ffffff"><span style="color:#000000">Dashboard：
    <a href={{ dashboard_url }} style="color:#1155cc; font-family:Arial, Helvetica, sans-serif" target="_blank">https://www.openedu.tw/dashboard4t/index</a></span></span></div>

<div><span style="background-color:#ffffff"><span style="color:#000000">Insight ：
    <a href={{ insight_url }} style="color:#1155cc" target="_blank">https://insights.openedu.tw/courses/</a></span></span></div>
</div>

<div><span style="background-color:#ffffff"><span style="color:#000000"><span style="color:#666666">(需先登入OpenEdu才會看到所管理</span><span style="color:#666666">的</span><span style="color:#666666">課程</span><span style="color:#666666">資料分析)</span>&nbsp;&nbsp;</span></span></div>

<div><br />
<span style="background-color:#ffffff"><span style="color:#000000">重要公告</span></span></div>

<div><span style="background-color:#ffffff"><span style="color:#000000">???</span></span></div>

<div>
<div>
<div>
<div>
<div>
<div>
<div>
<div><span style="color:#222222"><span style="background-color:#ffffff"><span style="color:#8e7cc3">
    <img class="CToWUd" src="https://ci4.googleusercontent.com/proxy/zx8dca9t3ls-vYFluqOh012SXUPHAXG6ZtwUIW-GNYvxfDK6tHQ6SUvUSeZiR3hYej4dWQ1vZ6WDDpWcAyJBsAQDH8nmd9rtJYyRh48uE_QZbfca8Q=s0-d-e1-ft#http://free-line-design.com/b/b_simple_114/png/b_simple_114_0S.png" />
</span></span></span></div>

<div><span style="color:#222222"><span style="background-color:#ffffff">
    <a href="https://www.openedu.tw/" style="color:#1155cc; font-family:&quot;microsoft jhenghei&quot;, sans-serif" target="_blank">
        <img alt="https://www.openedu.tw/" class="CToWUd" src="https://lh3.googleusercontent.com/pxRkBF3wuH6Y3sahTC96DWchfAI3ebQZDlkCTxeUF8NM45e1KOh8fx3Fx5VsaTVz2b3dMHXppRJRiGHTZMGg0EXd0tnJpAM3WpsWa0N4cjr9omKexF7qbsCzj7ApsEyKqlqmHKYP7GXQwmz6k9WqH4gdTXwJ7qtP_jGIZLt9MY-SQ44mWCMDhTCdCV0TZmKjfzaOyVsgZgjmJxJKc95-7M6m5WKoS-8XFM67R_D7YdK_mz1jyiI9wktX5XzRsiSwYQFYLjxnP2NPPFStWiRzfR-kB5YvFwlbNcb73sPo4V7ui0FTHYQb7HqIdtLAg3ZluNw2dmpmUHigBm4kSoA09HZz8AF2nmSpXtgYJwz-c5bERL6erdX9uaYzI3UIK6f32fbsWWz_tbI4XfMZycOKdW0U4GKVmFVMJJSn3vfzlOCEjeVX9TwJvs-1o6kBJn8xaxw14R9UDAfMA29p3fdsTYkwHw9rhhVhbh_yVHAdymaP6PL1EglnXAMKELQqte23di2SuiCspPU52KwbWnlCyViJ2DdHN6nOUalTu0kYmHVbclYrRXKwW_XluEMe_9nrTY52d3gYC5OXHNZNTCEqTZqzVsDEruVNu_t-_2caeQxSQaG6C8WdQ15gGj7zZCIHbM0guPaXHUNMGSmFYTKzQ3faaFS8rIwh7dhluQBgDau_PfcdeP9HbiA=w1240-h310-no" style="height:31px; width:126px" /></a>　　
    <a href="https://www.facebook.com/openedu.tw/" style="color:#1155cc; font-family:&quot;microsoft jhenghei&quot;, sans-serif" target="_blank">
        <img alt="image.png" class="CToWUd" src="https://lh3.googleusercontent.com/OIsmHpIXEhlu1rzLkrH40XFQqDNZ6WLuTbTaKkPR4flX7moRXWnnhjp-dXIRUOoJtNXTh4IoynP9qdwC-S43VsUR6mhtANE9KprTsa8SiK7EbZEJGvO_Jt_WygHvA-qDgaMWNd53dwAy8bEzwaLNE9ke3CSTPDkSInzL0nHFZERUg4GQJllMdAlPe86m3crTDxVc1_FGaFF1UAMa-tnrkR11uS85HuWNuSIAgXc6gn3fFSGe6TMwRW6VOP0XwEvGm0gptoi3-61cBneUc7OOQDYiAhXj3t20atlZfWSAGVIy2XZnQVuuu6K_lfDV07QBlZexB3t43WKXL9Wb8SyMLxVz-vyQ2nOY1CCB8Uh1SsHhDY0IBLahaczbFgs2SEPOSIUhEFu2YCrxXDnR-52QLjZE1ZkkZc8B5VUgJ1udKrhkHPhRe8KEij5wKloyDM5CG_7nuhlZU1wUCrgh_5eaMZDX0GxQJs70dnOyZ2xSTY5puBDpRxy1s415W438z_J-3mrn4XJNlSgRquvzjH8kqgNpA8kECMWoxcZPw6JYcRoaydzQ2YOs6a2istQaw79vEPAz7k35WGOSLzoq2kSxgkktghKjkjQBvj61APAHPVLTo4cnk4QalOV5DfWyJFc-GmmKtIl8w401qgQj2bFzhJDFLTyOo0KUFdsP3tacP23-O6SdUXKEXYg=s225-no" style="height:29px; width:29px" /></a>
</span></span></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


</body>
</html>